{% extends 'base.html.twig' %}

{% block title %}
    Mon compte -French Connection
{% endblock %}

{% block content %}
    <h1>
        Mon compte
    </h1>Bienvenue {{ app.user.firstname }} dans votre compte.<br />
    C'est dans cet espace que vous aller pouvopir gérer toutes vons informations
    personnelles
    <hr>
    -Mofifier mon mot de passe <br>
    -Ajouter une adresses <br>
    -Mes commandes <br>
    <hr>
{% endblock %}
